@font-face {
    font-family: "Bebas Neue";
    src: url("../../fonts/BebasNeueRegular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Roboto Condensed";
    src: url("../../fonts/RobotoCondensed-Bold.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Roboto Condensed";
    src: url("../../fonts/RobotoCondensed-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Bebas Neue";
    src: url("../../fonts/BebasNeueBold.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
}