$xs: 0;
$sm: 375px;
$md: 768px;
$lg: 992px;
$xl: 1380px;

$black: #4e3e3e;
$black-bg: #423d41;
$red: #e52a27;
$white: #ffffff;
$blank: #d8d8d8;
$grey: #e5e5e5;

$radius: 20px;

$shadow: 2px 2px 2px rgba(0, 0, 0, 0.501);

$spacing: 35px;
